body {
    background-color: #2e0027;
}

header {
    color: #c2c2c2;
    padding: 2.5%;
}

.btn {
    background-color: white;
}

.hide {
    display: none;
}

.viz {
    visibility: hidden;
}

#intro-article {
    color: white;
    text-align: center;
    line-height: 25px;
    font-size: larger;
    margin: 3% 5%;
    font-family: "Times New Roman", Times, serif;
}

article p {
    font-size: xx-large;
}

article h2 {
    color: #d6bfc9;
}

#small-text {
    color: #d6bfc9;
    font-size: xx-large;
}

#input-name {
    background-color: #330400;
    color: white;
    text-align: center;
    font-size: xx-large;
}

.btn:hover{
    background-color: grey;
    opacity: .9;
}