body {
    background-color: #2e0027;
}

header {
    color: grey;
}

.btn {
    background-color: white;
}

.hide {
    display: none;
}

.viz {
    visibility: hidden;
}

#intro-article {
    color: white;
    text-align: center;
    line-height: 25px;
    font-size: larger;
    margin: 2.7% 3%;
    font-family: "Times New Roman", Times, serif;
}

article p {
    font-size: larger;
}

#small-text {
    color: grey;
    font-size: xx-large;
}


.btn:hover{
    background-color: grey;
    opacity: .9;
}

